[submodule "xtl"]
	path = xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "xtensor"]
	path = xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "xtensor-blas"]
	path = xtensor-blas
	url = https://github.com/xtensor-stack/xtensor-blas.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "lapack-release"]
	path = lapack-release
	url = https://github.com/Reference-LAPACK/lapack-release.git
